@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Brandon-Grotesque';
  src: url('../../fonts/Brandon_thin.otf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon-Grotesque';
  src: url('../../fonts/Brandon_med.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon-Grotesque';
  src: url('../../fonts/Brandon_reg.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon-Grotesque';
  src: url('../../fonts/Brandon_bld.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon-Grotesque';
  src: url('../../fonts/Brandon_blk.otf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon-Grotesque';
  src: url('../../fonts/Brandon_light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Centaur';
  src: url('../../fonts/CENTAUR.TTF');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'creattion';
  src: url('../../fonts/creattion-demo_regular.otf');
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  /* @variants responsive { */
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  /* } */
}

body {
  font-family: 'Brandon-Grotesque';
}

.day {
  --border-color: rgb(51 65 85); /* slate-700 */
  /* --in-range-bg: rgb(148 163 184); slate-400 */
  /* --in-range-bg: #855372; */
  --in-range-bg: #8a1e611a;

  --border-radius: 4px;
}
/* #8A1E61 */

.will-be-in-range,
.will-be-range-end,
.will-be-range-start {
  border-top: 1px dashed var(--border-color);
  border-bottom: 1px dashed var(--border-color);
}

.will-be-range-end,
.will-be-in-range:nth-child(7n),
.will-be-range-start:nth-child(7n) {
  border-right: 1px dashed var(--border-color);
}

.will-be-in-range:nth-child(7n + 1),
.will-be-range-start,
.will-be-range-end:nth-child(7n + 1) {
  border-left: 1px dashed var(--border-color);
}

.in-range,
.range-start,
.range-end {
  /* color: white; */
  color: black;
  width: 100% !important;
}
.range-start,
.range-end {
  background-color: #8a1e61;
  opacity: 0.5;
}
/* #8A1E61 */
.in-range {
  background-color: var(--in-range-bg);
}

.will-be-in-range,
.in-range {
  border-radius: 0 !important;
}

.will-be-in-range:nth-child(7n),
.in-range:nth-child(7n),
.range-end,
.will-be-range-end {
  border-radius: 0 var(--border-radius) var(--border-radius) 0 !important;
}

.will-be-in-range:nth-child(7n + 1),
.in-range:nth-child(7n + 1),
.range-start,
.will-be-range-start {
  border-radius: var(--border-radius) 0 0 var(--border-radius) !important;
}

.range-start:nth-child(7n),
.range-end:nth-child(7n + 1),
.will-be-range-start:nth-child(7n),
.will-be-range-end:nth-child(7n + 1) {
  border-radius: var(--border-radius) !important;
}

.Home-page-text-div {
  transform: translate(-50%, -50%);
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation-name: slide-down;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.map-container {
  height: 100%;
  width: 100%;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Upload Images";
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  /* border: 1px solid #999; */
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  /* -webkit-user-select: none; */
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  /* font-weight: 700; */
  font-size: 12px;
}

.flag-dropdown {
  border: none !important;
  margin-bottom: 1px;
  /* background-color: rgba(0, 0, 0, 0) !important; */
  background-color: none !important;
}

[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  box-shadow: none;
}
.custom-shadow {
  @apply shadow-[2px_28px_34px_-31px_rgba(0,0,0,0.75)];
  -webkit-box-shadow: 2px 28px 34px -31px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 28px 34px -31px rgba(0, 0, 0, 0.75);
}